/* Navigation.module.css */
.nav {
  display: flex;
  gap: 1rem;
  /* 16px */
  padding: 0.75rem;
  /* 12px */
  border-radius: 0.5rem;
  /* 8px */
  background-color: #d1d5db;
  /* gray-300 */
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.link {
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  transition: background-color 0.2s;
  text-decoration: none;
  color: #374151;
  /* gray-700 */
}

.link:hover {
  background-color: #9ca3af;
  /* gray-400 */
}

.active {
  background-color: #2563eb;
  /* blue-600 */
  color: #ffffff;
  font-weight: 600;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}